<!DOCTYPE html>
<html ng-app="superPhone" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="superCtrl as vm">

<div class="topForms">
  <div class="searchForm">
    <p><label>Search Page
      <input type="text" ng-model="searchBox.$">
    </label></p>
    <p><label>Search by Superhero
      <input type="text" ng-model="searchBox.name">
    </label></p>
    <p><label>Search by Phone Number
      <input type="text" ng-model="searchBox.phoneNum">
    </label></p>
    <p><label>Search by Affiliation
      <input type="text" ng-model="searchBox.affiliation">
    </label></p>
  </div>

  <div class="addHeroForm">
    <p><label>Name
    <input type="text" ng-model="vm.newHero.name"></label></p>
    <p><label>Phone Number
    <input type="text" ng-model="vm.newHero.phoneNum"></label></p>
    <p><label>Affiliation
    <input type="text" ng-model="vm.newHero.affiliation"></label></p>
    <p><label>Image URL
    <input type="text" ng-model="vm.newHero.img_url"></label></p>
    <p><button ng-click="vm.addHero()">Add a Superhero</button></p>
  </div>
</div>


  <img ng-src="{{vm.img_url}}" alt="superhero image" />

  <div class="superherobox" ng-repeat="superhero in vm.superheroes | filter:searchBox">
    <h2 ng-class="{'blue':superhero.affiliation === 'Marvel','red':superhero.affiliation === 'DC'}">{{superhero.name}}</h2>
    <button type="button" ng-click="vm.topImage(superhero)" name="button">Click to Show</button>
    <p>Affiliation: {{superhero.affiliation}} </p>
    <p>Phone Number: {{superhero.phoneNum}}</p>
  </div>

  <script src="app.js"></script>
</body>
</html>
