*{

}

img{
  height: 300px;
  width: 200px;
  border: 2px solid #003366;
}

.blue{
  color: blue;
}
.red{
  color: red;
}
.topForms{
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
